/*
!/.github
!/.gitignore

!/README.md
!/docker-linux/config.json
!/efm-langserver
!/gh
/gh/hosts.yml
!/git
!/gnupg/.gitignore
!/gogh
!/gordon
!/locale.conf
!/momiji
!/mypy
!/nvim
!/nvim-?*
!/ripgrep
!/schemastore/
!/setup/
!/ssh
!/stylua
!/tig
!/userjob
!/wezterm
!/zsh
/zsh/.zcompcache

*.log
