/*

!/.github
!/.gitignore
!/KEYBALL.md
!/README.md
!/bin/
!/doc
!/docker-linux/config.json
!/dotfiles-agent
!/efm-langserver
!/fcitx5
!/gh
/gh/hosts.yml
!/git
!/gnupg/.gitignore
!/gogh
!/home-manager
!/locale.conf
!/mcphub
!/mise
!/mypy
!/nvim
!/nvim-?*
!/ripgrep
!/sakura
!/schemastore/
!/setup/
!/ssh
!/stylua
!/tig
!/userjob
!/wezterm
!/windows
!/zsh
/zsh/.zcompcache
!/zsh-abbr/

*.log
deno.lock
