#:schema https://mise.jdx.dev/schema/mise.json

[tools]
"go:github.com/mattn/efm-langserver" = "latest"
"go:github.com/sqls-server/sqls" = "latest"
"go:github.com/wader/jq-lsp" = "latest"
"go:golang.org/x/tools/gopls" = "latest"
"go:mvdan.cc/gofumpt" = "latest"
"npm:@astrojs/language-server" = "latest"
"npm:@prisma/language-server" = "latest"
"npm:@vtsls/language-server" = "latest"
"npm:ansible-language-server" = "latest"
"npm:bash-language-server" = "latest"
"npm:ccusage" = "latest"
"npm:dockerfile-language-server-nodejs" = "latest"
"npm:eslint" = "latest"
"npm:mcp-hub" = "latest"
"npm:stylelint-lsp" = "latest"
"npm:svelte-language-server" = "latest"
"npm:vim-language-server" = "latest"
"npm:vscode-langservers-extracted" = "latest"
"npm:yaml-language-server" = "latest"
"pipx:tombi" = "latest"
"github:kyoh86/git-branches" = "latest"
"github:kyoh86/git-statuses" = "latest"
"github:kyoh86/git-vertag" = "latest"
"github:kyoh86/zshist" = "latest"
actionlint = "latest"
aws-cli = "latest"
coursier = ["latest", "2.1.9"]
delta = "latest"
direnv = "latest"
docker-compose = "latest"
gcloud = "latest"
go = "latest"
jq = "latest"
lua-language-server = "latest"
node = ["latest", "22", "18"]
pipx = "latest"
python = ["latest", "3.12"]
rust = "latest"
sqlite = "latest"
stylua = "latest"
terraform = ["latest", "1.10"]
terraform-ls = "latest"
tree-sitter = "latest"
uv = "latest"
"aqua:cli/cli" = "latest"
"npm:@openai/codex" = "latest"
"npm:@google/gemini-cli" = "latest"
java = "latest"
"go:github.com/icholy/gomajor" = "latest"
usage = "latest"
npm = "latest"

[tools.deno]
version = "latest"
postinstall = "deno completions zsh > $HOME/.config/zsh/completions/_deno.zsh"

[tools.gh]
version = "latest"
postinstall = "gh completion --shell zsh > $HOME/.config/zsh/completions/_gh.zsh"

[tools."github:kyoh86/gogh"]
version = "latest"
postinstall = "gogh completion zsh > $HOME/.config/zsh/completions/_gogh.zsh"

[settings]
experimental = true

[hooks]
postinstall = [
  "mise prune",
  "mise completion zsh > $HOME/.config/zsh/completions/_mise.zsh",
]
